<ng-include src="'app/home/templates/_navigation.html'" ng-controller="CtrlAuth as CAuth" style="top:0px"></ng-include>

<!-- <div id="landing-container"> -->
<div>
  <div class="slider" slider>
    <ul class="slides">
        <li>
            <img src="/asset/landing_background.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h3>Data transparan dari pemerintah</h3>
                <h5 class="light grey-text text-lighten-3">Mari bersama membangun Indonesia. </h5>
            </div>
        </li>
        <li>
            <img src="/asset/nightview.jpeg"> <!-- random image -->
            <div class="caption left-align">
                <h3>Dukungan dan pengawasan masyarakat</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
    </ul>
</div>

    <!-- <div class="row">
        <div class="col s12 m10 push-s0 push-m1">
            <h1>Melalui data transparan dari pemerintah serta dukungan dan pengawasan rakyat, mari bersama membangun Indonesia. </h1>
            <img src="asset/icon/scroll-down.png" alt="scroll down icon" class="scroll_down img-middle">
        </div>
    </div> -->
</div>

<br>

<div id="proyek_wrapper" >

    <div class="row" style="margin-top: 20px; text-align: center">
        <div class="col s12 m10 push-s0 push-m1">
            <a class="waves-effect waves-light btn bc_main" href="/a" style="background-color: green !important;"><i class="material-icons left">view_array</i>Kartu</a>
            <a class="waves-effect waves-light btn bc_main" href="/home/map" style="background-color: white !important; color: black"><i class="material-icons left">language</i>Peta</a>
        </div>
    </div>

    <div class="row">
        <div id="kartu" class="col s12 m10 push-s0 push-m1 project_lists">
            <div id="kartu_proyek">
                <div ng-repeat="project in projects">

                    <div class="col s12 m6">

                        <div class="card small">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{{project.images}}" >
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">{{ project.nama }}<i class="material-icons right">more_vert</i></span>
                                <p><a ng-href="project/{{project.id}}">Lihat Detail</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">{{ project.nama }}<i class="material-icons right">close</i></span>
                                <p class="card-lokasi"><img src="asset/icon/lokasi.png" alt="" />Lokasi </p>
                                <p>Oleh <a href="/profile/pemerintah/{{project.profile_pemerintah.id}}">{{ project.profile_pemerintah.fullname }}</a></p>
                                <p>{{ project.deskripsi }}</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- end ng-repeat -->
            </div>
        </div>
    </div>

</div><!-- end proyek wrapper -->

<ng-include src="'app/home/templates/_footer.html'" style="top:0px"></ng-include>
