<!-- Kolom Komentar -->
<div class="row">

    <!-- info total komentar dan tombol like & dislike || tanggapna postifi negatif-->
    <div class="row">
        <div class="col l5 s12 push-l7">
            <p class="text-right"> Ada <span id="angka_komentar">20</span> Komentar untuk proyek ini </p>
            <a class="waves-effect waves-light btn modal-komentar-trigger light-blue darken-1" href="">Nilai Positif</a>
            <a class="waves-effect waves-light btn modal-komentar-negatif-trigger red lighten-1" href="">Nilai Negatif</a>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <ul class="tabs" tabs>
                <li class="tab col s3"><a class="active" href="#komentar1">Komentar</a></li>
                <li class="tab col s3"><a href="#komentar2">Komentar dengan Media</a></li>
            </ul>
        </div>
        <div id="komentar1" class="col s12">Test 1</div>
        <div id="komentar2" class="col s12">Test 2</div>
    </div>

</div>
<!-- End Modal Balas Komentar -->