
<ng-include src="'app/home/templates/_navigation.html'" style="top:0px"></ng-include>

<div id="landing-container">
    <div class="row">
        <div class="col s12 m10 push-s0 push-m1">
            <h1>Melalui data transparan dari pemerintah serta dukungan dan pengawasan rakyat, mari bersama membangun Indonesia. </h1>
            <img src="asset/icon/scroll-down.png" alt="scroll down icon" class="scroll_down img-middle">
        </div>
    </div>
</div>

<div id="proyek_wrapper" >

    <div class="row">
        <div class="col s12 m10 push-s0 push-m1">
            <a class="waves-effect waves-light btn bc_main"><i class="material-icons left">view_array</i>Kartu</a>
            <a class="waves-effect waves-light btn bc_main"><i class="material-icons left">language</i>Peta</a>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m10 push-s0 push-m1 project_lists">

            <div id="kartu_proyek">
                <div ng-repeat="project in projects">

                    <div class="col s12 l4">

                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="asset/monas.jpg" >
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">{{ project.nama }}<i class="material-icons right">more_vert</i></span>
                                <p><a ng-href="project/{{project.id}}">Lihat Detail</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">{{ project.nama }}<i class="material-icons right">close</i></span>
                                <p class="card-lokasi"><img src="asset/icon/lokasi.png" alt="" />Lokasi </p>
                                <p>Oleh {{ project.profile_pemerintah.fullname }}</p>
                                <p>{{ project.deskripsi }}</p>
                            </div>
                        </div>

                    </div>

                </div> <!-- end ng-repeat -->
            </div>

            <div id="map"></div>
        </div>
    </div>

</div><!-- end proyek wrapper -->

<ng-include src="'app/home/templates/_footer.html'" style="top:0px"></ng-include>