<!-- Kolom Komentar -->
<div class="row">

    <!-- info total komentar dan tombol like & dislike || tanggapna postifi negatif-->
    <div class="row">
        <div class="col l5 s12 push-l7">
            <a class="waves-effect waves-light btn modal-komentar-trigger light-blue darken-1" href="">Nilai Positif</a>
            <a class="waves-effect waves-light btn modal-komentar-negatif-trigger red lighten-1" href="">Nilai Negatif</a>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <ul class="tabs" tabs>
                <li class="tab col s3"><a class="active" href="#komentar1">Komentar</a></li>
                <li class="tab col s3"><a href="#komentar2">Komentar dengan Media</a></li>
            </ul>
        </div>

        <div id="komentar1" class="col s12" ng-repeat="k in komentar">
            <div class="row each_box_komentar">
                <div class="col l3 data_komentator">
                    <div class="row">
                        <div class="col l3"> <img src="asset/icon/user.png" alt="" /> </div>
                        <div class="col l9">
                            <p class="nama_komentator"> {{k.profile_rakyat[0].fullname}} </p>
                            <p class="waktu_komentator"> 40 menit yang lalu</p>
                        </div>
                    </div>
                </div>

                <div class="col l9 isi_komentar">
                    {{k.post}}
                    <p class="btn-addkomentar"><a tooltipped class="btn-floating red" data-position="top" data-tooltip="Tambah Komentar"><i class="material-icons">add</i></a></p>
                </div>

                <div class="row each_box_komentar" ng-if="k.comments" ng-repeat="k_c in k.comments">
                    <div>
                        <div class="col l3 data_komentator">
                            <div class="row">
                                <div class="col l3"> <img src="asset/icon/user.png" alt="" /> </div>
                                <div class="col l9">
                                    <p class="nama_komentator"> {{k_c.profile_rakyat.fullname}} </p>
                                    <p class="waktu_komentator"> 40 menit yang lalu</p>
                                </div>
                            </div>
                        </div>

                        <div class="col l9 isi_komentar">
                            {{k_c.comment}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="komentar2" class="col s12">Test 2</div>
    </div>

</div>
<!-- End Modal Balas Komentar -->