
<button class="btn btn-block btn-google-plus" ng-click="authenticate('google')">
    <span class="ion-social-googleplus"></span>Sign in with Google
</button>

<table>
    <tr>
        <td>User ID :</td>
        <td>{{user.id}}</td>
    </tr>
    <tr>
        <td>Email: </td>
        <td>{{user.email}}</td>
    </tr>
    <tr>
        <td>FullName: </td>
        <td>{{user.fullname}}</td>
    </tr>
</table>

<div id="profile_pemerintah" style="display:none;">
  <h3>Profile Pemerintah</h3>
  <p><pre>{{pemerintah | json}}</pre><p>
</div>

<h3>Project Pemerintah</h3>
<table border="1">
	<tr>
		<th>id</th>
		<th>id pemerintah</th>
    <th>nama proyek</th>
    <th>jenis proyek</th>
    <th>deskripsi</th>
    <th>outcome</th>
    <th>lokasi</th>
    <th>status</th>
    <th>biaya</th>
    <th>waktu pelaksanaan</th>
    <th>jadwal realisasi</th>
    <th>masuk</th>
    <th>update</th>

	</tr>
	<tr ng-repeat="projects in project">
		<td >{{projects.id}}</td>
		<td ><a href="#" ng-click="getProfile(projects.profile_pemerintah_id)">{{projects.profile_pemerintah_id}}(Show profile)</a></td>
    <td >{{projects.nama}}</td>
    <td >{{projects.jenis}}</td>
    <td >{{projects.deskripsi}}</td>
    <td >{{projects.outcome}}</td>
    <td >{{projects.lokasi}}</td>
    <td >{{projects.status_selesai}}</td>
    <td >{{projects.biaya}}</td>
    <td >{{projects.waktu_pelaksanaan}}</td>
    <td >{{projects.jadwal_realisasi}}</td>
    <td >{{projects.created_at}}</td>
    <td >{{projects.update_at}}</td>
	</tr>
</table>
