<div class="bangun_container admin_container">

    <div class="row">
        <div class="col s12 m10 push-s0 push-m1 project_lists">

            <h2> Login Super Admin</h2>
            <form class="col s12" ng-submit="login()">
                <div class="row">
                    <input type="email" name="email" id="email" class="validate" ng-model="email">
                    <label for="email">Email</label>
                </div>

                <div class="row">
                    <input type="password" name="password" id="password" class="validate" ng-model="password">
                    <label for="password">Password</label>
                </div>

                <button class="waves-effect waves-light btn" type="submit">Login</button>
            </form>
        </div>
    </div>

</div> <!-- end admincontainter-->