<div>
  <nav class="navbar navbar-default bc_main">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
          <a class="navbar-brand" href="#"> BangunIndonesia </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <p class="navbar-text navbar-right"><a href="#" class="navbar-link" data-toggle="modal" data-target="#daftar_modal">Daftar</a></p>
          <p class="navbar-text navbar-right"><a href="#" class="navbar-link" data-toggle="modal" data-target="#login_modal">Masuk</a></p>
        </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </nav>


  <!-- Login Modal -->
  <div id="login_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!--  Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Login</h4>
          </div>
          <div class="modal-body">
            <a class="btn btn-primary" href="#" role="button">Facebook</a>
            <a class="btn btn-info" href="#" role="button">Twitter</a>
          </div>
      </div>
    </div>
  </div>

  <!-- REgister Daftar Modal -->
  <div id="daftar_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!--  Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Daftar</h4>
          </div>
          <div class="modal-body">
            <a class="btn btn-primary" href="#" role="button">Facebook</a>
            <a class="btn btn-info" href="#" role="button">Twitter</a>
          </div>
      </div>
    </div>
  </div>
</div>
